@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F4F2EC;
}

.nav-start {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.logo h1 {
    font-size: 1.5rem;
    color: #333;
    margin: 0;
}
.logo img{
    width: 60px;
    height: 50px;
}

.navbar {
    display: flex;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1rem;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #E26B13;
}

.nav-button {
    display: flex;
    align-items: center;
}

.nav-button a {
    display: block;
    padding: 10px 20px;
    background-color: #E26B13;
    color: white;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    font-size: 0.9rem;
    transition: background-color 0.3s;
}

.nav-button a:hover {
    background-color: #d45f0e;
}
.home-content{
    text-align: center;
}
.title-home{
    font-size: 2.5rem;
    color: #101010;
    font-weight: 500;
}
.download-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.btn {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    background-color: #6cc76e; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.btn img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.btn span {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.2;
    color: #267D4F;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.app-store {
    background-color: #6cc76e;
}

.google-play {
    background-color: #6cc76e;
}